<div class="container my-4">
  <div class="row">
    <div class="col py-4">
      <h2>Ini Table</h2>
    </div>
  </div>

  <table class="table table-bordered mb-4">
    <tr>
      <td>
        <%= image_tag "ava.png", class: 'rounded-circle img-fluid my-4' %>
        <h6 class="text-center my-2">Kotori</h6>
        <p class="text-center text-muted">1878374834</p>
      </td>
      <td>
        <%= image_tag "ava.png", class: 'rounded-circle img-fluid my-4' %>
        <h6 class="text-center my-2">Kotori</h6>
        <p class="text-center text-muted">1878374834</p>
      </td>
      <td>
        <%= image_tag "ava.png", class: 'rounded-circle img-fluid my-4' %>
        <h6 class="text-center my-2">Kotori</h6>
        <p class="text-center text-muted">1878374834</p>
      </td>
      <td>
        <%= image_tag "ava.png", class: 'rounded-circle img-fluid my-4' %>
        <h6 class="text-center my-2">Kotori</h6>
        <p class="text-center text-muted">1878374834</p>
      </td>
    </tr>
  </table>

  <table class="table table-bordered mt-4">
  <thead class="bg-primary text-light">
    <tr>
      <th>No.</th>
      <th>Alamat</th>
      <th>No.</th>
      <th>RT/RW</th>
      <th>Kelurahan</th>
      <th>Kecamatan</th>
      <th>Provinsi</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Jln. Kelapa Dua Wetan</td>
      <td>88</td>
      <td>01/08</td>
      <td>Kelapa Dua Wetan</td>
      <td>Ciracas</td>
      <td>DKI Jakarta</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Jln. Kelapa Dua Wetan</td>
      <td>88</td>
      <td>01/08</td>
      <td>Kelapa Dua Wetan</td>
      <td>Ciracas</td>
      <td>DKI Jakarta</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Jln. Kelapa Dua Wetan</td>
      <td>88</td>
      <td>01/08</td>
      <td>Kelapa Dua Wetan</td>
      <td>Ciracas</td>
      <td>DKI Jakarta</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Jln. Kelapa Dua Wetan</td>
      <td>88</td>
      <td>01/08</td>
      <td>Kelapa Dua Wetan</td>
      <td>Ciracas</td>
      <td>DKI Jakarta</td>
    </tr>
  </tbody>
  </table>
</div>