<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2 class="py-2 pt-4" id="#welcome">Welcome</h2>
      <hr>
      <p class="text-right">
      Posted By <span class="text-secondary">Kolompok 1</span> on <span class="text-secondary">10 Oktober 2017</span></span></p>
      <p class="text-justify">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam laboriosam vitae magnam culpa, architecto dolore odio, hic aliquam officia ratione incidunt a cum sapiente ipsa nisi earum, porro fuga assumenda.
        <br><br>
        <%= image_tag "gundar.jpg", width: '100px', class: "float-left pr-2" %>

        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam laboriosam vitae magnam culpa, architecto dolore odio, hic aliquam officia ratione incidunt a cum sapiente ipsa nisi earum, porro fuga assumenda.
        <br><br>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam laboriosam vitae magnam culpa, architecto dolore odio, hic aliquam officia ratione incidunt a cum sapiente ipsa nisi earum, porro fuga assumenda <br><br>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam laboriosam vitae magnam culpa, architecto dolore odio, hic aliquam officia ratione incidunt a cum sapiente ipsa nisi earum, porro fuga assumenda.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam laboriosam vitae magnam culpa, architecto dolore odio, hic aliquam officia ratione incidunt a cum sapiente ipsa nisi earum, porro fuga assumenda. <br><br>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam laboriosam vitae magnam culpa, architecto dolore odio, hic aliquam officia ratione incidunt a cum sapiente ipsa nisi earum, porro fuga assumenda.
      </p>
    </div>
    <div class="col-md-5 ml-auto">
      <h3 class="py-4">Search Box</h3>
      <input type="text" class="form-control" placeholder="Search..">
      <h3 class="py-4">Menu</h3>
      <ul class="list-group">
        <li class="list-group-item">
          <a href="#">Home</a>
        </li>
        <li class="list-group-item">
          <a href="#">News</a>
        </li>
        <li class="list-group-item">
          <a href="https://studensite.com">Portfolio</a>
        </li>
        <li class="list-group-item">
          <a href="#">Contact</a>
        </li>
      </ul>
      <h3 class="py-4">Links</h3>
      <ul class="list-group">
        <li class="list-group-item"><a href="detik.com">Detik.com</a></li>
        <li class="list-group-item"><a href="kompas.com">Kompas.com</a></li>
        <li class="list-group-item">
          <%= link_to "tugas-2", tugas2_path %>
        </li>
      </ul>
    </div>
  </div>
</div>