/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

$black-color: black;
$pink-color : deeppink;
$blue-color: #563d7c;
$font : 'Roboto', sans-serif;


body {
  background-color:#e6ecf0;
  font-family: $font;
}


.content {
  background-color: white;
}

.header{
  min-height: 300px;
  background-image: url("rubyonrails.jpg");
  background-position: center center;
  background-size: cover;
  background-color: black;
}

a {
  color: $blue-color;
  &:hover{
    color: $blue-color;
  }
}

li a{
  color : $black-color;
  &:hover {
    color: $black-color;
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $pink-color;
}

.table,
.table tr,
.table td,
.table th,
.table-bordered
{
  border: 1px solid $blue-color;
}

.footer {
  background-color: $blue-color;
  color: white;
}


